*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color:black;
}

.intro_bg{
    width:100%;
    height:300px;
}
.header{
    display:flex;
    width:2000px;
    margin:auto;
    
    height:86px;
}
.searchArea{
    width:300px;
    height:40px;
    
    border-radius:5px;
}
.nav{
    display:flex;
    justify-content: flex-end;
    width:1500px;
    
}
.nav>li{
    margin-left:20px;
}   
.search{
    text-align: center;
}

.select-box{
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
.searchbutton{
    height: 50px;
    font-size: 30px;
}
.register{
    text-align: end;
}
#Address,#Room,#HomePrice,#homeform{
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}